body {
    margin: 0;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    margin: 0 auto;
    max-width: 378px;
    text-align: center;
}

.limited-time {
    border-radius: 5px;
    border: solid 1px;
    font-size: medium;
    padding: 5px 20px;
    margin: 5px;
}

.get {
    font-size: x-large;
    text-emphasis: bold;
    margin: 0;
}

.info {

}

.store-finder {
    text-decoration: none;
}

.store-finder::after {
    content: '>'
}