body {
    margin: 0;
}

.container {
    display: grid;
	font-family: 'Bangers', cursive;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    text-transform: capitalize;
    background: black;
    color: white;
    width: 100%;
    margin: 0;
    text-align: center;
    padding:0;
    position: fixed;
}

.content {
    text-transform: uppercase;
    text-align: center;
}

nav {
    margin: 0;
    top:0;
}

footer {
    margin: 0;
    bottom: 0;
}